{% extends 'DashBoard.html.twig' %}

{% block title %}DemandeInterne index
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/pagination.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/task.css') }}" rel="stylesheet" type="text/css">
{% endblock stylesheets %}
{% block body %}
	<twig:ListeDemandeInterne/>

	<a href="{{ path('app_demande_interne_new') }}" class='btn btn-primary'>Envoyer Demande</a>
{% endblock %}
