{% extends 'DashBoard.html.twig' %}

{% block title %}TacheNormale index
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/pagination.css') }}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{{ asset('css/task.css') }}" rel="stylesheet" type="text/css">
{% endblock stylesheets %}
{% block body %}
	.<div class="card">
		<div class="card-header">
            <h1>Liste des taches</h1>
            <a href="{{ path('app_tache_normale_new') }}" class='btn btn-primary'>Ajouter Tâches</a>
        </div>
		<div class="card-body">
            <twig:ListTacheNormal/>

        </div>
        
	</div>
	
	

	

{% endblock %}
