{% extends 'DashBoard.html.twig' %}

{% block title %}New TacheNormale{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h1>Create new TacheNormale</h1>
        </div>
        <div class="card-body">
            {{ include('tache_normale/_form.html.twig') }}
        </div>
    </div>
    

    

    {# <a href="{{ path('app_tache_normale_index') }}">back to list</a> #}
{% endblock %}
