{% extends 'DashBoard.html.twig' %}

{% block title %}Projet index{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/pagination.css') }}" rel="stylesheet" type="text/css"> 
<link rel="stylesheet" href="{{ asset('css/searchBar.css') }}" rel="stylesheet" type="text/css"> 
<link rel="stylesheet" href="{{ asset('css/projet.css') }}" rel="stylesheet" type="text/css"> 
{% endblock stylesheets %}
{% block body %}
    <h1>Liste des Projets</h1>

    <twig:ListProjet />

    <a href="{{ path('app_projet_new') }}">Créer un nouveau projet</a>
{% endblock %}
