{% extends 'DashBoard.html.twig' %}

{% block title %}New Projet{% endblock %}

{% block body %}
    <div class="card shadow">
        <div class="card-header">
            Nouveau Projet
        </div>
        <div class="card-body">
            {{ include('projet/_form.html.twig') }}
        </div>
    </div>
    {# <h1>Nouveau Projet</h1> #}

    

    {# <a href="{{ path('app_projet_index') }}">back to list</a> #}
{% endblock %}
