{% extends 'DashBoard.html.twig' %}


{% block title %}Employee index{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/pagination.css') }}" rel="stylesheet" type="text/css"> 
<link rel="stylesheet" href="{{ asset('css/searchBar.css') }}" rel="stylesheet" type="text/css"> 
{% endblock stylesheets %}
{% block body %}

    <h1>Employee index</h1>

    
    <twig:ListEmployee />

    <a href="{{ path('app_employee_new') }}" class="btn btn-primary">Ajouter employée</a>
{% endblock %}
