{% extends 'DashBoard.html.twig' %}

{% block title %}Equipe index
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/pagination.css') }}" rel="stylesheet" type="text/css">
{% endblock stylesheets %}
{% block body %}


	<twig:ListEquipe/>


	<a href="{{ path('app_equipe_new') }}" class="btn btn-primary">Nouveau</a>
{% endblock %}
