{% extends 'DashBoard.html.twig' %}

{% block title %}New Equipe{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header"><h1>Creer une nouvelle équipe</h1></div>
        <div class="card-body">
            {{ include('equipe/_form.html.twig') }}
        </div>
    </div>
    

    

    {# <a href="{{ path('app_equipe_index') }}">back to list</a> #}
{% endblock %}
