{% extends 'DashBoard.html.twig' %}

{% block title %}Edit DocumentProjet{% endblock %}

{% block body %}
    <h1>Edit DocumentProjet</h1>

    {{ include('document_projet/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_document_projet_index') }}">back to list</a>

    {{ include('document_projet/_delete_form.html.twig') }}
{% endblock %}
